h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

img {
    width: 100%;
}

.error {
    background-color: rgb(255, 186, 186);
}

input {
    font-family: "Agency FB",'Courier New', Courier, monospace;
    font-weight: bold;
}

.input-inline {
    height: 6vh;
    font-size: 3vh;
    text-align: center;
    border:none;
    width: 8em;
    font-family: "Agency FB", 'Courier New', Courier, monospace;
}

.map-button {
    height: 6vh;
    text-align: center;
    border:none;
    font-size: 2vh;
    width: 6em;
    border-radius:8px;
    background-color: rgb(233, 233, 233);
}

.small {
    background-color:rgb(201, 201, 201);
}

.nav-button.left {
    position:absolute;
    left: 15px;
    top: 30px;
}
.nav-button.right {
    position:absolute;
    right: 15px;
    top: 30px;
}

.number {
    font-size: 6vh;
    width: 4em;
}

.red {
    background-color: rgb(244, 115, 115);
    transition:0.2s;
}

.blue {
    background-color: rgb(129, 129, 238);
    transition:0.2s
}

button.input-inline {
    font-size: 4vh;
    width: 4em;
    border-radius:8px;
}

#submit:enabled {
    background-color: rgb(181, 236, 187);
}

#submit:disabled {
    background-color: rgb(252, 216, 216);
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

td {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}
table {
    table-layout: fixed;
}
td:nth-child(2) {
    text-align: left;

}

li {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    list-style: "- ";
}